@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'roboto';
}

#geral {
    width: 1000px;
    min-height: 800px;
    margin: 60px auto;
    padding: 20px;
}

#cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#titulo-logo,
#logo {
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

#logo img {
    width: 120px;
    height: 60px;
}

#div-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

form {
    width: 750px;
}

input {
    display: block;
    margin: 20px;
    border: none;
    border-bottom: 3px solid #000000;
    padding: 0px 8px;
    height: 30px;
    background-color: transparent;
}

input[type=text]::placeholder,
input[type=number]::placeholder,
#tipo-combustivel,
#tipo-combustivel {
    font-size: 1.3em;
    color: #000000;
}

.input-txt01 {
    width: 580px;
}

.input-txt02,
.input-num {
    width: 300px;
}

input[type=radio] {
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
}

#tipo-combustivel,
#div-btns {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#div-btns button {
    width: 250px;
    height: 45px;
    margin: 0px 10px;
    cursor: pointer;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}

#btn-enviar {
    border: none;
    background-color: #000000;
    color: #ffffff;
}

#btn-limpar {
    border: 2px solid #000000;
    background-color: transparent;
    color: 000000;
}

#div-lista {
    border-top: 2px solid #000000;
    padding: 20px;
}

#div-lista h3 {
    margin: 10px 0px;
}

#cabecalho-lista {
    background-color: #000000;
    color: #ffffff;
}

#cabecalho-lista,
.veiculo {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cabecalho-lista span,
.veiculo span {
    margin: 0px 10px;
}

.veiculo {
    width: 100%;
    height: 60px;
    margin: 5px 0px;
}

.veiculo span img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

span.img {
    width: 30px;
    height: 25px;
}

span.txt,
span.vlr {
    width: 200px;
}

span.alg {
    text-align: center;
}

span.vlr {
    text-align: right;
}

.isento{
    background-color: #056043;
    color: #ffffff;
}